.App {
  background-color: "#F4F4F4";
}

.MuiTab-textColorPrimary.Mui-selected {
  background-color: white;
  border: 2px solid #f0f0f0;
  font-weight: 600;
}
.MuiTab-textColorPrimary.Mui-selected {
  color: black !important;
  font-weight: 700 !important;
}
