@font-face {
  font-family: "SFPRO";
  font-style: normal;
  font-weight: 200;
  src: url(./fonts/SFPRO.ttf) format("ttf");
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
